$white-color: rgb(255, 255, 255);

.work-history {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  text-align: left;
  color: $white-color;
  font-family: "Cantata One", serif;
}

.slideInFromLeft-work-history {
  animation: slideInFromLeft 1.25s forwards;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.bio-h1 {
  border-bottom: solid $white-color 2px;
  padding-bottom: 5px;
}

.scope {
  list-style-type: none;
  display: grid;
  gap: 10px;
  padding-top: 10px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  .detail-image {
    grid-column: 2;
    max-width: 100%;
    height: auto;
    background-image: url(../../../assets/Images/MisoImg2.PNG);
    height: 200px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    opacity: 0;
    animation: fadeIn 2.5s ease-in-out 0.3s forwards;
  }
}

%img-common {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.jawny-img {
  @extend %img-common;
  background-image: url(../../../assets/Images/Jawny-Vancouver+Artwork.jpg);
}

.bio-txt {
  padding: 10px 75px 10px 10px;
}

.mereba-img {
  @extend %img-common;
  background-image: url(../../../assets/Images/mereba-press-photo-scaled.jpg);
}

.king-img {
  @extend %img-common;
  background-image: url(../../../assets/Images/Screenshot\-2023-07-30\-at\-6.20.47\-PM.png);
}

.freddie-img {
  @extend %img-common;
  background-image: url(../../../assets/Images/esquire-npr-2015--2_custom-026f28deb64e00c991a9edf63fcd413b5a4d9adc-s1100-c50.jpg);
}

/* Mobile */
@media (max-width: 450px) {
  .work-history {
    grid-template-columns: 1fr; // change grid to single column
    padding: 20px; // adjust padding
  }

  .bio-txt {
    padding: 10px; // reduce padding for mobile
  }

  .bio-h1 {
    font-size: 1.5em; // scale down the header font size
  }

  .details {
    grid-template-columns: 1fr; // change details to single column grid

    .detail-image {
      margin-left: 0; // remove margin
      height: 150px; // adjust height
      width: auto;
    }
  }
}