.contact-page {
  background-color: #6192a0;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-txt {
  width: 50%;
  font-family: "Knewave", cursive;
  color: antiquewhite;
  font-size: x-large;
}

.a-txt {
  color: antiquewhite;
  font-family: "Bodoni Moda", serif;
  text-decoration: underline;
  color: rgb(23, 23, 221);
  size: medium;
}

@media only screen and (max-width: 450px) {
  .contact-txt {
    font-size: medium;
    width: 80%;
  }
}
